body {
    background-image: url("images/F8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(13, 13, 15);
    font-family: cursive;
}

nav {
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0.63);
    color: ghostwhite;
    width: 100%;
    height: 4rem;
}

#navigation {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
}

.boutonav {
    padding: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

input {
    background-color: rgba(0, 0, 0, 0);
    width: max-content;
    border: black;
    color: blanchedalmond;
}

.button {
    cursor: pointer;
}

.intro {
    width: max-content;
    margin: auto;
    padding-bottom: 2rem;
}

main {
    background-color: white;
    width: 80%;
    position: relative;
    top: 5rem;
    margin: auto;
    padding-bottom: 2rem;
    filter: drop-shadow(0 0 0.30rem rgba(1, 35, 87, 0.842));
    height: max-content;
}

.mainnuit {
    filter: drop-shadow(0 0 0.10rem rgba(255, 255, 255, 0.842));
}

h1 {
    color: white;
    background-color: black;
    width: 100%;
    font-size: x-large;
    text-align: center;
}

h2 {
    position: absolute;
    z-index: 2;
    width: 25rem;
    text-transform: uppercase;
    font-size: large;
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

.fini {
    background-color: turquoise;
}

.encours {
    background-color: sandybrown;
}

.projet {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    height: 20rem;
    background-color: white;
    filter: drop-shadow(0 0 0.30rem rgba(1, 35, 87, 0.842));
}

.cesi {
    position: fixed;
    width: 6rem;
    right: 1rem;
    margin-top: 2rem;
    border-width: 10rem;
    border-color: skyblue;
}

.imgSB {
    width: 30rem;
}

.pSB {
    width: 40rem;
    color: black;
    padding: 2rem;
}

.imglang {
    width: max-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer {
    position: relative;
    z-index: -1;
    width: 80%;
    margin: auto;
    bottom: 0;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.664);
}

.pSB1 {
    display: none;
}